<div id="footer">
  &copy; 2017-2021 <br>
  Current maintainer and contact: <a href="mailto:robin.worreby@math.ethz.ch?subject=PT1 Script">Robin Worreby</a> <br>
  If you made it this far, consider buying a beer for the contributors, if you meet them: <br>
  <a href="mailto:robin.worreby@math.ethz.ch?subject=Let me buy you a beer">Robin Worreby</a>, <a href="mailto:toml@ethz.ch?subject=Let me buy you a beer">Tom Lausberg</a> and <a href="mailto:rbarton@ethz.ch?subject=Let me buy you a beer">Roger Barton</a>.
</div>
